<nav class="filter-nav">
    <ul class="breadcrumbs">
        <li><a href="#">Collection Été 2024</a></li>
        <div class="nav-bar-sepp"></div>
        <li class="dropdown">
            <a href="#" class="titre-nav">Catégorie <svg class="svg-arrow" width="100%" height="100%" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 9L12 15L18 9" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg> <span class="selected-count" id="cat-count"></span></a>
            <ul class="dropdown-menu" id="cat-menu">
                <li><a href="#">Bagues</a></li>
                <li><a href="#">Bandoulières</a></li>
                <li><a href="#">Blousons</a></li>
                <li><a href="#">Boucles d'oreilles</a></li>
                <li><a href="#">Bracelets</a></li>
                <li><a href="#">Broches</a></li>
                <li><a href="#">Casquettes</a></li>
                <li><a href="#">Ceintures</a></li>
                <li><a href="#">Chemises</a></li>
                <li><a href="#">Colliers</a></li>
                <li><a href="#">Cravates</a></li>
                <li><a href="#">Écharpes</a></li>
                <li><a href="#">Jeans</a></li>
                <li><a href="#">Lunettes</a></li>
                <li><a href="#">Manteaux</a></li>
                <li><a href="#">Mocassins</a></li>
                <li><a href="#">Pantalons</a></li>
                <li><a href="#">Pochettes</a></li>
                <li><a href="#">Polos</a></li>
                <li><a href="#">Portefeuilles</a></li>
                <li><a href="#">Pulls</a></li>
                <li><a href="#">Sacs à dos</a></li>
                <li><a href="#">Sacs bandoulière</a></li>
                <li><a href="#">Sacs de voyage</a></li>
                <li><a href="#">Sneakers</a></li>
                <li><a href="#">Sweatshirts</a></li>
                <li><a href="#">T-shirts</a></li>
                <li><a href="#">Vestes</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="titre-nav">Matière <svg class="svg-arrow" width="100%" height="100%" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 9L12 15L18 9" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
                <span class="selected-count" id="mat-count"></span></a>
            <ul class="dropdown-menu" id="mat-menu">
                <li><a href="#">Coton</a></li>
                <li><a href="#">Laine</a></li>
                <li><a href="#">Soie</a></li>
                <li><a href="#">Lin</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="titre-nav" >Couleur <svg class="svg-arrow" width="100%" height="100%" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 9L12 15L18 9" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
                <span class="selected-count" id="col-count"></span></a>
            <ul class="dropdown-menu" id="col-menu">
                <li><a href="#">Rouge</a></li>
                <li><a href="#">Bleu</a></li>
                <li><a href="#">Vert</a></li>
                <li><a href="#">Jaune</a></li>
            </ul>
        </li>
        <li>
            <label><input type="checkbox" id="available-online"> Disponible en ligne</label>
        </li>
        <div id="reset-filters-bar" class="nav-bar-sepp"></div>
        <li><a href="#" id="reset-filters">Effacer tous les filtres</a></li>
    </ul>
    <div class="results">
        <div class="sort">
            <label for="sort-options">Trier par</label>
            <select id="sort-options">
                <option value="price-low-high">Prix croissant</option>
                <option value="price-high-low">Prix décroissant</option>
            </select>
        </div>
    </div>
</nav>