<header>
    <nav class="navbar">
      <a href="/Roid" class="logo">ROID</a>
      <div class="mode-select-laptop">
        <a href="/Roid/mode-homme">Continuer mes achats</a>
      </div>
      <div class="bar-header-sep"></div>
    </nav>
  </header>