<section id="sectionCompte" class="global-log-section">
    <div class="log-section">
        <section class="connexion">
            <div class="connexion-info">
                <p>SE CONNECTER</p>
                <p>Pour accéder à votre compte</p>
            </div>
            <div class="connexion-input-global">
                <div class="input-connexion">
                    <div class="group">
                        <input required="" type="text" class="input">
                        <label class="label-titre">*E-mail</label>
                    </div>
                    <div class="group">
                        <input required="" type="text" class="input">
                        <label class="label-titre">*Mot de passe</label>
                    </div>
                </div>
                <div class="forget-pwd-remember">
                    <div class="forget-pwd">
                        <a href="">Mot de passe oublié ?</a>
                    </div>
                    <div class="checkbox-container">
                        <label for="">
                            <input type="checkbox" name="remember">
                            <p>Se souvenir de moi</p>
                        </label>
                    </div>
                </div>
                <div class="btn-connexion-global">
                    <button class="btn-connexion">Continuer</button>
                </div>
            </div>
        </section>
        <div class="bar-sep"></div>
        <section class="inscription">

        </section>
    </div>
</section>