<div class="nav-links">
    <div class="nav-genders">
      <div class="gender select-sex" id="homme">
        <p>MODE HOMME</p>
      </div>
      <div class="gender not-select-sex" id="femme">
        <p>MODE FEMME</p>
      </div>
    </div>
    <ul id="list-homme">
      <li><a href="#">ACCUEIL</a></li>
      <li><a href="#">SACS</a></li>
      <li><a href="#">PETITE MAROQUINERIE</a></li>
      <li><a href="#">CHAUSSURES</a></li>
      <li><a href="#">PRÊT-À-PORTER</a></li>
      <li><a href="#">ACCESSOIRES</a></li>
      <div class="bar-nav"></div>
      <div class="service-nav">
        <p class="titre">SERVICE CLIENT</p>
        <div class="option-service-nav">
          <a href="#">Contact</a>
          <a href="#">Livraisons & Retours</a>
        </div>
      </div>
    </ul>
    <ul id="list-femme" class="masque-sex">
      <li><a href="#">ACCUEIL</a></li>
      <li><a href="#">SACS</a></li>
      <li><a href="#">PETITE MAROQUINERIE</a></li>
      <li><a href="#">CHAUSSURES</a></li>
      <li><a href="#">PRÊT-À-PORTER</a></li>
      <li><a href="#">ACCESSOIRES</a></li>
      <div class="bar-nav"></div>
      <div class="service-nav">
        <p class="titre">SERVICE CLIENT</p>
        <div class="option-service-nav">
          <a href="#">Contact</a>
          <a href="#">Livraisons & Retours</a>
        </div>
      </div>
    </ul>
  </div>