<section id="sectionSearch" class="global-search-section">
  <div class="overlay-slider"></div>
  <div class="search-section">
    <div class="input-search">
      <form action="/Roid/treatment/search" method="POST" class="SearchInput_searchbar__form__sAaH5">
        <input id="query" name="term" type="text" aria-label="Que recherchez-vous ?" placeholder="Que recherchez-vous ?" autocapitalize="none" aria-invalid="false" inputmode="search" aria-autocomplete="none" aria-controls="extended-search-results" value="" class="">
        <button type="submit">bd</button>
      </form>
    </div>
</section>