@media screen and (max-width: 1024px) {
    .container-carousel {
        display: flex;
        width: 100vw;
        height: auto;
        position: relative;
    }

    .caroussel-phone {
        display: block;
    }

    .caroussel-desktop {
        display: none;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .mySwiper2 {
        position: relative;
    }

    .carousel-display {
        width: 100vw;
        height: auto;
        background: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }

    .close-button-carousel {
        display: none !important;
    }

    .tel-none {
        display: none !important;
    }

    .swiper-pagination {
        position: absolute;
        bottom: 0px !important;
        /* Ajuster si nécessaire */
        left: 50px !important;
        /* Ajuster si nécessaire */
        height: 25px;
        z-index: 100000 !important;
    }

    .swiper-pagination-bullet-active {
        background: #000 !important;
        /* Couleur des points de pagination */
    }

    .section-images-article {
        display: none;
    }

    .autre-coloris {
        width: 100vw;
        display: flex;
        flex-direction: column;
        column-gap: .125rem;
        row-gap: .125rem;
        margin: .5rem 0 0;
    }

    .different-color-article {
        display: flex;
        overflow-x: auto;
        -webkit-column-gap: .125rem;
        -moz-column-gap: .125rem;
        column-gap: .125rem;
        row-gap: .125rem;
        scrollbar-width: none;
        -ms-overflow-style: none;
        margin: .5rem 0 0;
    }

    .ColorDeclinations_list__VI7la {
        display: flex;
        overflow-x: auto;
        -webkit-column-gap: .125rem;
        -moz-column-gap: .125rem;
        column-gap: .125rem;
        row-gap: .125rem;
        scrollbar-width: none;
        -ms-overflow-style: none;
        padding: 0 1.5rem;
    }

    .SizeSpots_size-spots__MMEzM {
        display: flex;
        gap: .5rem;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        margin: .5rem 0 0;
        padding: 0 1.5rem;
        font-size: .8125rem;
        line-height: 1.25rem;
    }

    .global-info-article-taille::after {
        display: block;
        content: "";
        border-bottom: .0625rem solid #e5e5e5;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .autre-coloris::after {
        display: block;
        content: "";
        border-bottom: .0625rem solid #e5e5e5;
        padding-bottom: 1rem;
        margin: 0 1.5rem;
        margin-bottom: 1rem;
    }

    .animation-active {
        animation-name: slide-in;
        animation-duration: .8s;
        animation-timing-function: cubic-bezier(.65, 0, .3, 1);
        opacity: 100%;
    }

    .global-coloris-article .different-color-article img {
        width: 50px;
        height: auto;
    }

    .global-coloris-article p {
        font-size: .6875rem;
        line-height: 1.1875rem;
        font-family: sans-serif;
    }

    .global-btn-article-panier {
        padding: 0 1.5rem;
    }

    .btn-article-panier {
        width: 100%;
        color: #fff;
        background-color: #000;
        transition: background-color 80ms ease-in;
        height: 3.25rem;
        padding: 0 2rem;
        min-width: 10.3125rem;
        border-radius: 100px;
        border: none;
    }

    .global-btn-article-panier::after {
        display: block;
        content: "";
        border-bottom: .0625rem solid #e5e5e5;
        padding-bottom: 1rem;
        margin: 0 1.5rem;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }

    .btn-article-panier span {
        font-family: sans-serif;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .drop-taille:focus {
        outline: none;
        box-shadow: none;
        border-radius: 0 15px;
    }

    .drop-taille {
        position: relative;
        display: inline-block;
        border-radius: 10px;
        border: none;
        background: #f6f6f6;
        width: 100%;
        height: 36px;
        padding: 10px;
        outline: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        z-index: 2;
        background: none;
    }

    .dropdown-tailles {
        display: none;
    }

    .dropdown-arrow svg {
        width: 20px;
    }

    .dropdown-tailles-mobile {
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .dropdown-tailles-mobile ul {
        display: flex;
        gap: .5rem;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        margin: .5rem 0 0;
        padding-right: 3rem;
        font-size: .8125rem;
        line-height: 1.25rem;
    }
    
    .dropdown-tailles-mobile ul::-webkit-scrollbar {
        display: none;
    }
    
    .dropdown-tailles-mobile ul li button {
        border-radius: 3.75rem;
        padding: .25rem .75rem;
        min-width: 3.4375rem;
        height: 1.75rem;
        background-color: #f6f6f6;
        width: max-content;
        border: none;
        transition: background-color 0.3s, color 0.3s, width 0.3s;
    }
    
    .SizeSpot_button--selected {
        background-color: black !important;
        color: white;
    }
    
    .unvailable-size {
        text-decoration: line-through;
        pointer-events: none;
        color: var(--gris-Non_Utilisable);
        width: auto;
        padding: .25rem 1.25rem;
    }
    
    .dropdown-open .dropdown-arrow {
        transform: translateY(-50%) rotate(180deg);
    }

    .btn-fav-article {
        border: none;
        background: transparent;
        cursor: pointer;
        width: 20px;
    }

    .article-titre-taille p {
        font-size: 11px;
        font-family: var(--font-regular), sans-serif;
    }

    .info-article-name {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: var(--font-regular), sans-serif;
    }

    .info-article-detail {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: var(--font-regular), sans-serif;
        color: #757575;
    }

    .article-name {
        font-size: 1.25rem;
        line-height: 1.875rem;
    }

    .ProductDetailsTabs_container {
        position: relative;
        border-bottom: 1px solid var(--gris-Non_Utilisable);
        margin-bottom: .5rem;
        min-width: 100%;
    }

    .text-wrapper p:first-child {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-height: 3.75rem;
        color: #757575;
        -webkit-font-smoothing: antialiased;
    }

    .section-infos-article {
        margin: 1.5rem 0 0;
    }

    .article-name {
        font-size: 20px;
    }

    .article-detail {
        font-size: 13px;
        color: #757575;
        margin: .5rem 0 0;
    }

    .global-info-article-name::after {
        display: block;
        content: "";
        border-bottom: .0625rem solid #e5e5e5;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }

    .global-info-article-name {
        padding: 0 1.5rem;
    }

    .header_sizes_product {
        margin: 0 0 0 1.5rem;
    }

    .ProductDetailsTabs_container,
    .tab-panel {
        display: none !important;
    }

    .ProductDetailsTabs_container_mobile {
        width: 100%;
    }

    .ProductDetailsTabs_container_mobile>section::after {
        display: block;
        content: "";
        border-bottom: .0625rem solid #e5e5e5;
    }

    .ProductDetailsTabs_container_mobile .titre_desciption,
    .ProductDetailsTabs_container_mobile .titre_livraison {
        padding: 16px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Description_mobile_global,
    .Livraison_mobile_global {
        padding: 0 40px;
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease-in-out, padding 0.5s ease-in-out;
    }

    .Description_mobile_global.active,
    .Livraison_mobile_global.active {
        overflow: hidden;
    }

    .description-detail,
    .livraison-detail-global {
        height: 50px;
        overflow: hidden;
        margin-bottom: 16px;
        transition: height 0.5s ease-in-out;
    }

    .description-detail ul {
        padding-left: 15px;
        margin: 1em 0;
    }

    .description-detail div,
    .livraison-detail-global div {
        color: #757575;
    }

    .livraison-detail p:first-child {
        color: #000;
        margin-bottom: 5px;
    }

    .livraison-detail p:last-child {
        margin-bottom: 10px;
    }

    .description-detail ul li {
        margin-bottom: 10px;
        list-style: none;
        padding-left: 10px;
        position: relative;
    }

    .description-detail ul li::marker {
        content: '•';
        font-size: 1em;
        color: #757575;
    }

    .description-detail ul li::before {
        content: '•';
        position: absolute;
        left: -20px;
        font-size: 1em;
        color: #757575;
    }


    .description-detail.active,
    .livraison-detail-global.active {
        transition: height 0.5s ease-in-out;
    }

    .svgDescription,
    .svgLivraison {
        transform: rotate(0deg);
        transition: all 0.2s ease-in-out;
    }

    .svgDescription.active,
    .svgLivraison.active {
        transform: rotate(-180deg);
        transition: all 0.2s ease-in-out;
    }

    .btnVoirPlusDescription,
    .btnVoirPlusLivraison {
        border: none;
        background: transparent;
        text-decoration: underline;
        margin-bottom: 16px;
    }

    .btnVoirPlusDescription.active,
    .btnVoirPlusLivraison.active {
        content: 'Voir moins';
        border: none;
        background: transparent;
        text-decoration: underline;
    }
}

@media screen and (min-width: 1024px) {
    .ProductDetailsTabs_container_mobile {
        display: none;
    }

    .dropdown-tailles-mobile {
        display: none;
    }

    .caroussel-phone {
        display: none;
    }

    .close-button-carousel {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        cursor: pointer;
        padding: 2.5rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font: inherit;
        color: inherit;
        text-decoration: none;
    }

    .container-carousel {
        display: flex;
        width: 90%;
        height: 90vh;
        padding-top: 5vh;
    }

    .mySwiper2 {
        width: 80%;
        height: 100%;
    }

    .mySwiper {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        width: 100%;
        height: auto;
    }

    .mySwiper .swiper-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .mySwiper .swiper-slide {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.4;
        /* Default opacity for non-active thumbnails */
    }

    .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
        /* Full opacity for active thumbnail */
    }

    .mySwiper .swiper-slide img {
        max-width: 55px;
        max-height: auto;
        object-fit: cover;
        cursor: pointer;
    }

    /* New styles for the main image swiper */
    .mySwiper2 .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mySwiper2 .swiper-slide img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .none-carousel {
        overflow: hidden;
    }

    body.no-scroll {
        overflow: hidden;
    }

    header.none-display,
    footer.none-display,
    section.none-display {
        display: none;
    }

    .caroussel-desktop {
        display: none;
    }

    .carousel-display {
        display: block !important;
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10000;
        background: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-article {
        display: flex;
        flex-direction: row;
    }

    .section-images-article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: calc(-1* calc(.125rem / 2));
        margin-left: calc(-1* calc(.125rem / 2));
        width: 50%;
    }

    .section-images-article button {
        width: 100%;
        height: auto;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .section-images-article button img {
        width: 100%;
        height: auto;
    }

    .section-images-article.many-images button:nth-child(4),
    .section-images-article.many-images button:nth-child(5) {
        width: 49.8%;
        height: auto;
    }

    .section-images-article.few-images button {
        width: 100%;
    }

    .section-infos-article-ctn {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 50%;
        height: auto;
    }

    .section-infos-article {
        position: fixed;
        bottom: 0;
        transition: all 0.5s;
        padding: 0 2.5rem;
        padding-bottom: 96px;
        padding-top: 96px;
        width: 45%;
    }

    .description-global-article {
        width: 100%;
    }

    .section-infos-article.sticky {
        position: absolute;
        bottom: 0;
        transition: all 0.5s;
    }

    .global-info-article-name {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .info-article-name,
    .info-article-detail {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: var(--font-regular), sans-serif;
    }

    .info-article-detail p {
        font-size: 13px;
        color: var(--gris-descriptionProduit);
    }

    .article-name {
        font-size: 22px;
    }

    .bar-article {
        width: 100%;
        height: 1px;
        background: var(--gris-Non_Utilisable);
    }

    .global-info-article-taille {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .article-titre-taille p {
        font-size: 11px;
        font-family: var(--font-regular), sans-serif;
    }

    .dropdown-tailles {
        margin-top: 15px;
        position: relative;
        display: inline-block;
        width: 200px;
        border-radius: 10px;
        background: #f6f6f6;
    }

    .drop-taille {
        position: relative;
        display: inline-block;
        border-radius: 10px;
        border: none;
        background: #f6f6f6;
        width: 100%;
        height: 36px;
        padding: 10px;
        outline: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        z-index: 2;
        background: none;
    }

    .drop-taille:focus {
        outline: none;
        box-shadow: none;
        border-radius: 0 15px;
    }

    .dropdown-tailles::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 15px;
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-size: contain;
        transform: translateY(-50%) rotate(0deg);
        transition: transform 0.3s ease;
        pointer-events: none;
        z-index: 1;
    }

    .dropdown-tailles.active::after {
        transform: translateY(-50%) rotate(180deg);
    }

    .dropdown-arrow {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        transition: transform 0.3s ease;
        pointer-events: none;
    }

    .dropdown-arrow svg {
        width: 20px;
    }

    .dropdown-open .dropdown-arrow {
        transform: translateY(-50%) rotate(180deg);
    }

    .out-of-stock {
        text-decoration: line-through;
        color: var(--gris-Non_Utilisable);
    }

    .global-btn-article-panier {
        margin-top: 15px;
    }

    .btn-article-panier {
        height: 3.25rem;
        padding: 0 2rem;
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        background: #000;
        border-radius: 50px;
        color: #ffffff;
        border: none;
        font-size: .8125rem;
        line-height: 1.25rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
    }

    .btn-article-panier-out-of-stock {
        height: 3.25rem;
        padding: 0 2rem;
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        background: var(--gris-Non_Utilisable);
        border-radius: 50px;
        color: #ffffff;
        border: none;
        font-size: .8125rem;
        line-height: 1.25rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .btn-article-panier span {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btn-fav-article {
        border: none;
        background: transparent;
        cursor: pointer;
        width: 20px;
    }

    .rupture {
        width: 100%;
    }

    .global-description-article {
        margin: 1rem 0 0;
        padding-top: 1rem;
        width: 100%;
    }

    .tab-panel p {
        width: 100%;
    }

    .ProductDetailsTabs_container {
        position: relative;
        border-bottom: 1px solid var(--gris-Non_Utilisable);
        margin-bottom: .5rem;
        min-width: 100%;
    }

    .tab-label {
        font-size: .6875rem;
        line-height: 1.1875rem;
        color: var(--gris-footer-link);
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        display: block;
        overflow: hidden;
        text-transform: uppercase;
        cursor: pointer;
        font-family: sans-serif;
    }

    .tab-label--selected {
        color: #000;
    }

    .tab-list {
        display: flex;
        justify-content: space-around;
        position: relative;
        padding: .5rem 0;
        gap: .5rem;
    }

    .tab-list-slider {
        position: absolute;
        bottom: 0;
        height: 2px;
        background-color: #000;
        /* Couleur du curseur */
        transition: width 0.3s ease, left 0.3s ease;
        /* Ajout de la transition pour la propriété left */
    }

    .tab-list-slider__indicator {
        width: 100%;
        height: 100%;
    }

    #livraison-retours-tab-content {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }

    .livraison-detail {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        text-align: justify;
    }

    .livraison-detail p:first-child {
        color: #000;
    }

    .livraison-detail p:last-child {
        padding-top: 10px;
        color: var(--gris-descriptionProduit);
    }

    .description-tab-content {
        padding-top: 20px;
        color: var(--gris-descriptionProduit);
    }

    .description-tab-content .manufacturing-list.block {
        display: block;
    }

    .description-tab-content li {
        list-style-type: disc;
        display: none;
    }

    .text-wrapper p:first-child {
        display: inline;
    }

    .full-text {
        display: inline;
    }

    .readmore-btn {
        display: block;
        color: rgb(0, 0, 0);
        cursor: pointer;
        text-decoration: underline;
        margin-top: 15px;
    }

    .global-coloris-article .different-color-article img {
        width: 50px;
        height: auto;
        cursor: pointer;
    }

    .global-coloris-article {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .global-coloris-article p {
        font-size: .6875rem;
        line-height: 1.1875rem;
        font-family: sans-serif;
    }

    .autre-coloris {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: .125rem;
        row-gap: .125rem;
        margin: .25rem 0;
    }

    .autre-coloris ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: .125rem;
        row-gap: .125rem;
        margin: .25rem 0;
    }

    .svgMobile {
        display: none;
    }
}