header {
    height: 10vh;
    width: 100vw;
}

.navbar {
    position: absolute;
    top: 0;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    overflow: hidden;
}

.navbar a {
    color: var(--noir-text);
}

.navbar .logo {
    font-size: 2em;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}

.navbar .nav-links ul li a {
    font-family: var(--font-regular), sans-serif;
}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 20px;
}

.navbar .menu-hamburger .bar_menu-hamburger {
    width: 20px;
    height: 2px;
    border-radius: 100px;
    background-color: black;
}

.bar-nav {
    width: 100%;
    height: 1px;
    background-color: var(--gris-footer-link);
}
.service-nav {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.option-service-nav {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.service-nav .titre {
    font-family: var(--font-regular), sans-serif;
    font-weight: bold;
}
.option-service-nav a {
    font-family: var(--font-regular), sans-serif;
}

@media screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }

    .navbar {
        padding: 0;
    }

    .navbar .logo {
        position: absolute;
        top: 25px;
        left: 25px;
    }

    .nav-links {
        top: 0;
        right: 0;
        position: absolute;
        background-color: rgb(255, 255, 255);
        backdrop-filter: blur(7px);
        width: 85%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin-right: -100%;
        transition: all 0.7s ease;
    }

    .nav-links.mobile-menu {
        margin-right: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .menu-hamburger {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        width: 30px;
        height: 30px;
        background: none;
        border: none;
    }

    .container-lignes {
        width: 22px;
        height: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .ligne {
        border-radius: 10px;
        width: 22px;
        height: 1px;
        background: rgb(0, 0, 0);
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1em;
    }

    .nav-genders {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
    }

    .gender {
        width: 50%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gender {
        color: var(--gris-descriptionProduit);
        font-family: var(--font-regular), sans-serif;
    }

    #homme {
        border-right: 1px solid #000;
    }

    #list-homme {
        display: block;
    }

    #list-femme {
        display: none;
    }

    .masque-sex {
        display: none !important;
    }

    .display-block {
        display: block !important;
    }

    .select-sex {
        border-top: 1px solid #000;
        color: var(--noir-text);
    }

    .not-select-sex {
        border-bottom: 1px solid #000;
        color: var(--gris-footer-link);
    }

    .overlay {
        width: 100vw;
        height: 100vh;
    }

    .active-overlay {
        background-color: #00000086;
    }
    .overflow {
        overflow: hidden;
    }
    #list-homme li,
    #list-femme li {
        padding-left: 30px;
    }
}

@media screen and (min-width: 1024px) {

    /* Désactiver les styles spécifiques aux classes .select-sex et .not-select-sex */
    .select-sex {
        border-top: none;
        color: initial;
    }

    .not-select-sex {
        border-bottom: none;
        color: initial;
    }

    /* Ajustements supplémentaires si nécessaire pour grands écrans */
    .navbar .nav-links ul {
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }

    .navbar .nav-links ul li {
        margin: 0 15px;
        font-size: 1em;
    }

    .nav-links {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        background: none;
        backdrop-filter: none;
    }

    .menu-hamburger {
        display: none;
        /* Masquage du menu hamburger pour les grands écrans */
    }

    .nav-links.mobile-menu {
        margin-right: 0;
        /* Réinitialisation de la marge si nécessaire */
    }

    #homme:hover,
    #femme:hover {
        cursor: pointer;
    }

    #list-femme,
    #list-homme {
        display: none;
    }

    .nav-genders {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.menu-hamburger .ligne:nth-child(1) .ligne:nth-child(3) {
    transform: rotate(0deg);
    transition:
        transform 0.4s ease-in-out top 0.4s 0.4s ease-in-out;
}

.menu-hamburger.active .ligne:nth-child(1) {
    top: 25px;
    transform: rotate(45deg);
    translate: 0 7px;
    transition:
        top 0.4s 0.4s ease-in-out,
        transform 0.4s ease-in-out;
}

.menu-hamburger.active .ligne:nth-child(2) {
    opacity: 0;
}

.menu-hamburger.active .ligne:nth-child(3) {
    top: 25px;
    transform: rotate(-45deg);
    translate: 0 -7px;
    transition:
        top 0.4s 0.4s ease-in-out,
        transform 0.4s ease-in-out;
}