header {
    height: 86px;
    width: 100vw;
    background-color: #fff;
}

.navbar {
    position: absolute;
    top: 0;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 1002;
    overflow: hidden;
}

.navbar a {
    color: var(--noir-text);
}

.navbar .logo {
    font-size: 2em;
    font-family: var(--font-Logo-Regular) !important;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}

.navbar .nav-links ul li a {
    font-family: var(--font-regular), sans-serif;
}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 20px;
}

.navbar .menu-hamburger .bar_menu-hamburger {
    width: 20px;
    height: 2px;
    border-radius: 100px;
    background-color: black;
}

.bar-nav {
    width: 100%;
    height: 1px;
    background-color: var(--gris-footer-link);
}

.service-nav {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.option-service-nav {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-nav .titre {
    font-family: var(--font-regular), sans-serif;
    font-weight: bold;
}

.option-service-nav a {
    font-family: var(--font-regular), sans-serif;
}

@media screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }

    .navbar {
        padding: 0;
        height: 80px;
    }

    .navbar .logo {
        position: absolute;
        top: 25px;
        left: 25px;
    }

    .nav-links {
        position: absolute;
        top: 0;
        left: 100%;
        background-color: rgb(255, 255, 255);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease-in;
        overflow: hidden;
        z-index: 1001;
    }

    .nav-links.mobile-menu {
        left: 0;
        box-shadow: -50px 0px 33px 48px rgba(0, 0, 0, 0.5);
        z-index: 1001;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .menu-hamburger {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        width: 30px;
        height: 30px;
        background: none;
        border: none;
    }

    .container-lignes {
        width: 22px;
        height: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .ligne {
        border-radius: 10px;
        width: 22px;
        height: 1px;
        background: rgb(0, 0, 0);
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1em;
    }

    .nav-genders {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .gender {
        width: 50%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gender {
        color: var(--gris-descriptionProduit);
        font-family: var(--font-regular), sans-serif;
    }

    #homme {
        border-right: 1px solid #000;
    }

    #list-homme {
        display: block;
    }

    #list-femme {
        display: none;
    }

    .masque-sex {
        display: none !important;
    }

    .display-block {
        display: block !important;
    }

    .select-sex {
        border-top: 1px solid #000;
        color: var(--noir-text);
    }

    .not-select-sex {
        border-bottom: 1px solid #000;
        color: var(--gris-footer-link);
    }

    .overflow {
        overflow: hidden;
    }

    #list-homme li,
    #list-femme li {
        padding-left: 30px;
    }

    .icon-global {
        position: absolute;

    }

    .icon-global {
        position: absolute;
        top: 30px;
        right: 40px;
        transition: all 0.5s;
    }

    .icon button {
        border: none;
        background: transparent;
    }

    .ui-input-container {
        display: none;
    }

    .mode-select-laptop {
        display: none;
    }

    .bar-header-sep {
        display: none;
    }

    .Menu_close {
        opacity: 0;
        transition: all 0.5s;
    }

    .Menu_close.active {
        opacity: 1;
        transition: all 0.5s;
    }

    .icon-global.active {
        position: absolute;
        right: 60px;
        transition: all 0.5s;
    }

    .global-log-section,
    .global-panier-section,
    .global-fav-section,
    .global-search-section {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        width: 100vw;
        top: -250%;
        left: 0;
        display: flex;
        justify-content: end;
        opacity: 1;
        transition: all 0.5s;
        border-top: .0625rem solid #e5e5e5;
        z-index: 1000;
    }

    .log-section,
    .panier-section,
    .fav-section,
    .search-section {
        width: 100vw;
        max-height: 25.75rem;
        /* Hauteur maximale */
        background: #fff;
        transition: all 0.5s;
        overflow-y: auto;
        /* Permet de scroller si le contenu dépasse la hauteur maximale */
    }

    .global-log-section.active,
    .global-panier-section.active,
    .global-fav-section.active,
    .global-search-section.active {
        position: absolute;
        width: 100vw;
        background: #00000065;
        top: 0;
        right: 0;
        display: flex;
        justify-content: end;
        opacity: 1;
        transition: all 0.5s;
    }

    .overlay-slider {
        width: 100vw;
        height: 100vh;
        background: #00000057;
    }

    .connnexion-infotitre,
    .inscription-infotitre {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .connexion-info,
    .inscription-info {
        display: flex;
        height: 50px;
        justify-content: space-between;
        padding: 1rem 0;
    }

    .forgot-pwd-global {
        display: none;
    }

    .connexion,
    .inscription {
        border-top: .0625rem solid #e5e5e5;
        padding: 0 1.25rem;
    }

    .svgMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(0deg);
        transition: all 0.2s ease-in-out;
    }

    .svgMobile.active {
        transform: rotate(-180deg);
        transition: all 0.2s ease-in-out;
    }

    .connexion-input-global,
    .inscription-btn-global {
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease-in-out;
    }

    .connexion-input-global.active,
    .inscription-input-global.active {
        height: auto;
        transition: height 0.5s ease-in-out;
    }

    .group {
        position: relative;
        width: 100%;
        padding-bottom: 16px;
    }

    .forget-pwd {
        font-size: 13px;
        text-decoration: underline;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 15px;
    }

    .forget-pwd p {
        cursor: pointer;
        color: #000;
    }

    .input {
        font-size: 16px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #515151;
        background: transparent;
    }

    .input:focus {
        outline: none;
    }

    .label-titre {
        color: var(--gris-footer-link);
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        top: 15px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .input:focus~label,
    .input:valid~label {
        top: -5px;
        font-size: 14px;
        color: var(--gris-footer-link);
    }

    .bar {
        position: relative;
        display: block;
        width: 100%;
    }

    .bar:before,
    .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #969696;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

    .input:focus~.bar:before,
    .input:focus~.bar:after {
        width: 50%;
    }

    .highlight {
        position: absolute;
        height: 60%;
        width: 100%;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }

    .input:focus~.highlight {
        animation: inputHighlighter 0.3s ease;
    }

    .connnexion-infotitre p:first-child {
        font-weight: bold;
    }

    @keyframes inputHighlighter {
        from {
            background: #ffffff;
        }

        to {
            width: 0;
            background: transparent;
        }
    }

    .checkbox-container {
        width: 100%;
        padding-bottom: 15px;
    }

    .checkbox-container label {
        display: flex;
        width: 100%;
        flex-direction: row;
        gap: 1rem;
    }

    .btn-connexion-global {
        width: 100%;
    }

    .btn-connexion {
        width: 100%;
        height: 52px;
        border-radius: 50px;
        cursor: pointer;
        border: none;
        background: #000;
        color: #ffffff;
        margin-bottom: 16px;
    }

    .input-connexion {
        width: 100%;
    }

    .SearchInput_searchbar__form__sAaH5 {
        position: relative;
        border-bottom: .0625rem solid #303030;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-end;
        width: 75%;
    }

    .SearchInput_searchbar__form__input__icon__dI4e2 {
        z-index: 1;
        color: #757575;
        box-sizing: border-box;
        padding: 5px;
    }

    .SearchInput_searchbar__form__input__field__8Gx4A {
        width: 100%;
        padding-left: .5rem;
        margin: 0 !important;
    }

    .text-input .input {
        display: inline-flex;
        align-items: center;
        height: 2.875rem;
        box-sizing: border-box;
        border-bottom: .0625rem solid #757575;
        position: relative;
    }

    .SearchInput_searchbar__form__input__field__8Gx4A>* {
        border-bottom: none !important;
    }

    .text-input .input input,
    .text-input .input textarea {
        border: 0;
        border-radius: .3125rem;
        font-size: .8125rem;
        line-height: 1.25rem;
        width: 100%;
        box-sizing: border-box;
        background-color: transparent;
        outline: none;
        height: 100%;
        padding: 1.25rem 0 .375rem;
    }

    button,
    input {
        position: relative;
    }

    .text-input .input .text-input__extra_options {
        display: flex;
        position: absolute;
        right: 0;
        padding: 1.25rem 0 .375rem;
    }

    .text-field-icon-button {
        position: absolute;
        right: 0;
        top: 0;
        padding: 1.25rem 0 .375rem .75rem;
    }

    .input-search {
        display: flex;
        justify-content: center;
    }

    .search-section {
        height: auto !important;
    }

    .global-search-section {
        overflow: hidden;
    }

    .like_also {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .articles-like_also {
        padding: 0 1.25rem;
        display: flex;
        flex-wrap: wrap;
        width: auto;
    }

    .article-like_also {
        padding: 0 1.25rem;
    }

    .articles_like_also a img {
        width: 49.42%;
    }

    #inscription-mobile .svgMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(0deg);
        transition: all 0.2s ease-in-out;
    }

    #inscription-mobile .svgMobile.active {
        transform: rotate(-180deg);
        transition: all 0.2s ease-in-out;
    }

    #inscription-btn-global {
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease-in-out;
    }

    #inscription-btn-global.active {
        height: auto;
        transition: height 0.5s ease-in-out;
    }

}

@media screen and (min-width: 1024px) {

    /* Désactiver les styles spécifiques aux classes .select-sex et .not-select-sex */
    .select-sex {
        border-top: none;
        color: initial;
    }

    .not-select-sex {
        border-bottom: none;
        color: initial;
    }

    /* Ajustements supplémentaires si nécessaire pour grands écrans */
    .navbar .nav-links ul {
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }

    .navbar .nav-links ul li {
        margin: 0 15px;
        font-size: 1em;
    }

    .nav-links {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        background: none;
        backdrop-filter: none;
    }

    .menu-hamburger {
        display: none;
        /* Masquage du menu hamburger pour les grands écrans */
    }

    .nav-links.mobile-menu {
        margin-right: 0;
        /* Réinitialisation de la marge si nécessaire */
    }

    #homme:hover,
    #femme:hover {
        cursor: pointer;
    }

    #list-femme,
    #list-homme {
        display: none;
    }

    .nav-genders {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mode-select-laptop {
        position: absolute;
        left: 25px;
        display: flex;
        flex-direction: row;
        gap: 15px;
        font-size: var(--font-size-titre);
    }

    .icon-global {
        position: absolute;
        right: 25px;
        display: flex;
        flex-direction: row;
        width: auto;
        height: 99%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: var(--font-size-titre);
    }

    .icon {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
    }

    .icon-global button::after {
        content: "";
        width: 0;
        height: 1px;
        background: #000;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: all 0.5s;
    }

    .icon-global button {
        position: relative;
        background: transparent;
        border: none;
        height: 100%;
        border-bottom: 1px solid transparent;
    }

    .icon-global button:hover::after {
        width: 100%;
    }

    .icon-global button:hover {
        cursor: pointer;
    }

    .bar-header-sep {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: var(--gris-Non_Utilisable);
    }

    .ui-input-container {
        position: relative;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ui-input {
        width: 100%;
        padding: 10px 10px 10px 40px;
        font-size: var(--font-size-placehorder);
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
        background-color: transparent;
        transition: border-color 0.3s;
    }

    .ui-input-underline {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        transform: scaleX(0);
        transition: transform 0.3s;
    }

    .ui-input:focus+.ui-input-underline {
        transform: scaleX(1);
    }

    .ui-input-highlight {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 0;
        transition: width 0.3s;
    }

    .ui-input:focus~.ui-input-highlight {
        width: 100%;
    }

    .ui-input-icon {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #999;
        transition: color 0.3s;
    }

    .ui-input-icon svg {
        width: 20px;
        height: 20px;
    }

    .global-log-section,
    .global-panier-section,
    .global-fav-section,
    .global-search-section {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: #00000065;
        top: 0;
        right: -250%;
        display: flex;
        justify-content: end;
        opacity: 0;
        transition: opacity 0.5s;
    }

    .log-section,
    .panier-section,
    .fav-section,
    .search-section {
        width: 50%;
        height: 100vh;
        background: #fff;
        transition: all 0.5s;
    }

    .fav-article-global-vide {
        display: flex;
        width: 100%;
        font-size: .8125rem;
        line-height: 1.25rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.875rem
    }

    .fav-article-global-vide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .message-fav-vide {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .global-log-section.active,
    .global-panier-section.active,
    .global-fav-section.active,
    .global-search-section.active {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: #00000065;
        top: 0;
        right: 0;
        display: flex;
        justify-content: end;
        opacity: 1;
        transition: opacity 0.5s;
    }

    .Menu_close {
        opacity: 0;
        transition: opacity 0.5s;
        pointer-events: none;
    }

    .Menu_close.active {
        opacity: 1;
        transition: opacity 0.5s;
        pointer-events: all;
    }

    .connexion,
    .inscription {
        display: flex;
        justify-content: space-between;
        padding: 64px 48px;
        border-bottom: 1px solid rgb(229, 229, 229);
    }

    .connexion-info,
    .inscription-info,
    .connexion-input-global,
    .inscription-btn-global,
    .forgot-pwd-global {
        width: 50%;
        font-family: sans-serif;
    }

    .connexion-info,
    .inscription-info {
        gap: 10px;
    }

    .forgot-pwd-global {
        display: none;
    }

    .forgot-pwd-global.active {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .connexion-input-global.remove {
        display: none;
    }

    .info-forgot {
        padding-top: 56px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .backToConnect {
        cursor: pointer;
    }

    .backToConnect:hover,
    .forget-pwd:hover {
        color: #757575;
    }

    .titre-forgot {
        font-size: 16px;
    }

    .info-forgot-aide {
        text-align: center;
        font-size: 13px;
    }

    .connexion-info,
    .inscription-info {
        font-size: 13px;
    }

    .inscription-info p:first-child,
    .connexion-info p:first-child {
        color: #000;
    }

    .inscription-info p:last-child,
    .connexion-info p:last-child {
        color: #757575;
    }

    .group {
        position: relative;
        width: 100%;
        padding-bottom: 16px;
    }

    .forget-pwd {
        font-size: 13px;
        text-decoration: underline;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 15px;
    }

    .forget-pwd p {
        cursor: pointer;
        color: #000;
    }

    .input {
        font-size: 16px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #515151;
        background: transparent;
    }

    .input:focus {
        outline: none;
    }

    .label-titre {
        color: var(--gris-footer-link);
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .input:focus~label,
    .input:valid~label {
        top: -5px;
        font-size: 14px;
        color: var(--gris-footer-link);
    }

    .bar {
        position: relative;
        display: block;
        width: 100%;
    }

    .bar:before,
    .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #969696;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

    .input:focus~.bar:before,
    .input:focus~.bar:after {
        width: 50%;
    }

    .highlight {
        position: absolute;
        height: 60%;
        width: 100%;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }

    .input:focus~.highlight {
        animation: inputHighlighter 0.3s ease;
    }

    @keyframes inputHighlighter {
        from {
            background: #ffffff;
        }

        to {
            width: 0;
            background: transparent;
        }
    }

    .checkbox-container {
        width: 100%;
        padding-bottom: 15px;
    }

    .checkbox-container label {
        display: flex;
        width: 100%;
        flex-direction: row;
        gap: 1rem;
    }

    .btn-connexion-global {
        width: 100%;
    }

    .btn-connexion {
        width: 100%;
        height: 52px;
        border-radius: 50px;
        cursor: pointer;
        border: none;
        background: #000;
        color: #ffffff;
    }

    .input-connexion {
        width: 100%;
    }

    .SearchInput_searchbar__form__sAaH5 {
        position: relative;
        border-bottom: .0625rem solid #303030;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-end;
        width: 75%;
    }

    .SearchInput_searchbar__form__input__icon__dI4e2 {
        z-index: 1;
        color: #757575;
        box-sizing: border-box;
        padding: 5px;
    }

    .SearchInput_searchbar__form__input__field__8Gx4A {
        width: 100%;
        padding-left: .5rem;
        margin: 0 !important;
    }

    .text-input .input {
        display: inline-flex;
        align-items: center;
        height: 2.875rem;
        box-sizing: border-box;
        border-bottom: .0625rem solid #757575;
        position: relative;
    }

    .SearchInput_searchbar__form__input__field__8Gx4A>* {
        border-bottom: none !important;
    }

    .text-input .input input,
    .text-input .input textarea {
        border: 0;
        border-radius: .3125rem;
        font-size: .8125rem;
        line-height: 1.25rem;
        width: 100%;
        box-sizing: border-box;
        background-color: transparent;
        outline: none;
        height: 100%;
        padding: 1.25rem 0 .375rem;
    }

    button,
    input {
        position: relative;
    }

    .text-input .input .text-input__extra_options {
        display: flex;
        position: absolute;
        right: 0;
        padding: 1.25rem 0 .375rem;
    }

    .text-field-icon-button {
        position: absolute;
        right: 0;
        top: 0;
        padding: 1.25rem 0 .375rem .75rem;
    }

    .text-field-icon-button:disabled .icon {
        color: #b3b3b3;
    }

    .SearchInput_searchbar__form__input__icon__cross__wHDmN {
        right: 0;
    }

    .text-field-icon-button .icon {
        display: block;
        color: #000;
        transition: color .32s cubic-bezier(1, 0, 0, 1);
    }

    .input-search {
        padding: 0 40px;
    }

    .img-fav {
        height: 12.8125rem;
    }

    .img-fav img {
        height: 100%;
    }

    .fav-article-global {
        display: flex;
        border-bottom: .0625rem solid #e5e5e5;
    }

    .info-article-fav {
        margin: 0 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .info-article-fav p:nth-child(1){
        font-weight: bold;
    }

    .info-article-fav p:nth-child(2){
        color: var(--gris-descriptionProduit);
    }

    .info-article-fav p:nth-child(3){
        margin: 1.25rem 0;
        font-weight: bold;
    }

    .btn-fav-delete {
        background: transparent;
        text-decoration: underline;
        border: none;
        width: 0;
        color: #757575;
    }
    .btn-fav-delete:hover {
        color: #333333;
        font-weight: bold;
    }
}

.menu-hamburger .ligne:nth-child(1) .ligne:nth-child(3) {
    transform: rotate(0deg);
    transition:
        transform 0.4s ease-in-out top 0.4s 0.4s ease-in-out;
}

.menu-hamburger.active .ligne:nth-child(1) {
    top: 25px;
    transform: rotate(45deg);
    translate: 0 7px;
    transition:
        top 0.4s 0.4s ease-in-out,
        transform 0.4s ease-in-out;
}

.menu-hamburger.active .ligne:nth-child(2) {
    opacity: 0;
}

.menu-hamburger.active .ligne:nth-child(3) {
    top: 25px;
    transform: rotate(-45deg);
    translate: 0 -7px;
    transition:
        top 0.4s 0.4s ease-in-out,
        transform 0.4s ease-in-out;
}

.menu-hamburger.active {
    z-index: 2000;
}