@font-face {
    font-family: 'Gothic_Regular';
    src: '../font/fonts_global/Regular.otf' format("opentype");
}
@font-face {
    font-family: 'Gothic_Bold';
    src: '../font/fonts_global/Bold.otf' format("opentype");
}
@font-face {
    font-family: 'Font-logo_Bold';
    src: '../font/fonts_Logo/EBGaramond-Bold.ttf' format("truetype");
}
@font-face {
    font-family: 'Font-logo_Regular';
    src: '../font/fonts_Logo/EBGaramond-Regular.ttf' format("truetype");
}

:root {
    --font-regular: 'Gothic_Regular';
    --font-Bold: 'Gothic_Bold';
    --font-Logo-Bold: 'Font-logo_Bold';
    --font-Logo-Regular: 'Font-logo_Regular';
    --noir-text: #000;
    --gris-placehorder : #747474;
    --gris-roid : #909090;
    --gris-background : #F2F2F4;
    --gris-footer-link : #BDBDBD;
    --gris-Non_Utilisable : #E5E5E5;
    --gris-descriptionProduit : #7C7C7C;
}