<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/head'); %>
    <title>Roid</title>
</head>
<body>
    <%- include('../components/header'); %>
    <section class="gender-selection">
        <a class="img-genders" href="">
            <div class="gender-mode" id="homme-img-selection">
                <p>MODE HOMME</p>
            </div>
        </a>
        <a class="img-genders" href="">
            <div class="gender-mode" id="femme-img-selection">
                <p>MODE FEMME</p>
            </div>
        </a>
    </section>
    <%- include('../components/footer'); %>
</body>
</html>
