<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= article.article.name %> | <%= article.article.colors %></title>
</head>
<body>
    <p><%= article.article.name %></p>
</body>
</html>
