<footer>
    <div class="line-nav"></div>
    <section>
        <div class="service_nav">
            <p class="title-nav">SERVICE CLIENT</p>
            <div>
                <a href=""><p>Contact</p></a>
                <a href=""><p>Livraisons & Retours</p></a>
            </div>
        </div>
    </section>
    <div class="line-nav"></div>
    <section class="section-nav-">
        <div class="service_nav">
            <p class="title-nav">LA MAISON ROID</p>
            <div>
                <a href="">
                    <p>Mentions légales</p>
                </a>
                <a href="">
                    <p>Politiques de la vie privée</p>
                </a>
                <a href="">
                    <p>Gestion des cookies</p>
                </a>
                <a href="">
                    <p>Conditions générales de vente</p>
                </a>
                <a href="">
                    <p>Accessiblité</p>
                </a>
                <a href="">
                    <p>Ethique & Conformité</p>
                </a>
            </div>
        </div>
    </section>
</footer>