<header class="Header-global">
  <div class="Logo-global">
    <p>ROID</p>
  </div>
  <div class="menu-btn">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</header>

<div class="overlay"></div>

<div class="header__nav">
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__list_item"><a class="nav__link" href="#">s</a></li>
      <li class="nav__list_item"><a class="nav__link" href="#">О é</a></li>
      <li class="nav__list_item"><a class="nav__link" href="#">fz</a></li>
      <li class="nav__list_item"><a class="nav__link" href="#">fféfééf</a></li>
    </ul>
  </nav>
</div>