<header class="Header-global">
  <div class="Logo-global">
    <p>ROID</p>
  </div>
  <div class="menu-btn">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</header>