<div class="overlay" id="overlay"></div>
<div class="header__nav">
  <nav class="nav">
    <div class="header_nav-sexe">
      <div class="header_nav_homme select-sex" id="homme">MODE HOMME</div>
      <div class="header_nav_femme not-select-sex" id="femme">MODE FEMME</div>
    </div>
    <ul class="nav__list" id="list-homme">
      <li class="nav__list_item"><a class="nav__link" href="#">ACCUEIL</a></li>
      <li class="nav__list_item"><a class="nav__link" href="#">SACS</a></li>
      <li class="nav__list_item"><a class="nav__link" href="#">PETITE MAROQUINERIE</a></li>
      <li class="nav__list_item"><a class="nav__link" href="#">CHAUSSURES</a></li>
      <li class="nav__list_item"><a class="nav__link" href="#">PRÊT-À-PORTER</a></li>
      <li class="nav__list_item"><a class="nav__link" href="#">ACESSOIRES</a></li>
    </ul>
    <ul class="nav__list masque-sex" id="list-femme">
      <li class="nav__list_item"><a class="nav__link" href="#">ACCUEIL</a></li>
      <li class="nav__list_item"><a class="nav__link" href="#">SACS</a></li>
      <li class="nav__list_item"><a class="nav__link" href="#">PETITE MAROQUINERIE</a></li>
      <li class="nav__list_item"><a class="nav__link" href="#">CHAUSSURES</a></li>
      <li class="nav__list_item"><a class="nav__link" href="#">PRÊT-À-PORTER</a></li>
      <li class="nav__list_item"><a class="nav__link" href="#">ACESSOIRES</a></li>
    </ul>
    <div class="line-nav"></div>
    <div class="service_nav">
      <p class="title-nav">SERVICE CLIENT</p>
      <div>
        <p>Contact</p>
        <p>Livraisons & Retours</p>
      </div>
    </div>
  </nav>
</div>